<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="AppClient" />
  <!-- 允许重复登录 -->
  <add key="CheckOnLine" value="false" />
  <!-- 允许用户注册 -->
  <add key="AllowUserRegister" value="false" />
  <!-- 启用即时通讯 -->
  <add key="UseMessage" value="false" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!-- 服务器缓存类型:WebCache、Redis-->
  <add key="CacheType" value="WebCache" />
  <!-- ================== 2：这里主要是微信配置项内容部分 ================== -->
  <!--企业号CorpId -->
  <add key="CorpId" value="wx3e4c8f84a165a142" />
  <!--企业号凭证密钥 -->
  <add key="CorpSecret" value="XDwJUlMeqQAVI3Iu0ZpJ-5MYzBJmhuBAF9GTBqY7mnJg_j23JTidYcslyTg9SL0B" />
  <!-- ================== 3：访问过滤配置 ================== -->
  <!--设置IP过滤 -->
  <add key="FilterIP" value="false" />
  <!--设置时段过滤 -->
  <add key="FilterTime" value="false" />
  <!-- ================== 4：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="www.learun.cn" />
  <!-- 公司名称 -->
  <add key="CustomerCompanyName" value="聚久信息技术有限公司" />
  <!-- 系统名称 -->
  <add key="SystemName" value="敏捷开发（专业版）在线示例" />
  <!-- 软件名称 -->
  <add key="SoftName" value="LeaRun.敏捷开发框架" />
  <!-- 软件版本 -->
  <add key="Version" value="6.1" />
  <!-- 软件注册码，备用 -->
  <add key="RegisterKey" value="NO:2013101712345678" />
  <!-- ================== 5：外部邮件参数 ================== -->
  <!-- 系统错误自动发送邮件 -->
  <add key="ErrorToMail" value="true" />
  <!-- 发出邮箱的名称 -->
  <add key="MailName" value="聚久邮件中心" />
  <!-- 发出邮箱的地址 -->
  <add key="MailUserName" value="sendbug@learun.cn1" />
  <!-- 发出邮箱的密码 -->
  <add key="MailPassword" value="learun123" />
  <!-- 发出邮箱设置邮箱主机 -->
  <add key="MailHost" value="smtp.ym.163.com" />
</appSettings>