<ion-modal-view>
  <ion-header-bar class="bar-stable nav-bar-block nav-title-slide-ios7">
    <button class="button button-clear" ng-click="closePageModel()"><i class="icon ion-ios-arrow-left"></i></button>
    <h1 class="title">实例－按钮</h1>
  </ion-header-bar>
    <ion-content>
        <div class="list-inset mt5">
            <div>
                <button class="button button-positive">button-positive</button>
            </div>
            <div>
                <button class="button button-block button-positive">
                    Block Button
                </button>
            </div>
            <div>
                <button class="button button-full button-positive">
                    Full Width Block Button
                </button>
            </div>
            <div>
                <button class="button button-small button-balanced">button-small</button>
            </div>
            <div class="mt10">
                <button class="button button-large button-royal">button-large</button>
            </div>
            <div class="mt10">
                <button class="button button-outline button-positive">button-outline</button>
            </div>
            <div class="mt10">
                <button class="button button-clear button-stable">button-clear</button>
            </div>
            <div class="mt10">
                <button class="button icon-left ion-star button-positive">icon-left</button>
            </div>
            <div class="mt10">
                <a class="button icon-right ion-chevron-right button-calm">icon-right</a>
            </div>
            <div class="button-bar bar-balanced mt10" style="padding:0;">
                <a class="button">First</a>
                <a class="button">Second</a>
                <a class="button">Third</a>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
