<ion-modal-view ng-controller="CasesCameraCtrl">
  <ion-header-bar class="bar-stable  nav-bar-block nav-title-slide-ios7">
    <button class="button button-clear" ng-click="closePageModel()"><i class="icon ion-ios-arrow-left"></i></button>
    <h1 class="title">实例-拍照</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list card" style="height:300px;">
      <img ng-src="{{imgSrc}}" />
    </div>
    <div class="list list-inset">
      <button class="button button-block button-positive" ng-click="doCemera()">拍照</button>
    </div>
  </ion-content>
</ion-modal-view>
