<ion-modal-view>
  <ion-header-bar class="bar-stable nav-bar-block nav-title-slide-ios7">
    <button class="button button-clear" ng-click="closePageModel()"><i class="icon ion-ios-arrow-left"></i></button>
    <h1 class="title">实例-{{caseItem.name}}</h1>
  </ion-header-bar>
  <ion-content style="background-color:#0AA699;">
      <div style="margin:200px auto;width:300px;text-align:center;"><i class="icon {{caseItem.icon}}" style="color:#fff;font-size:80px;"></i><h3 style="color:#fff;">聚久努力开发中...</h3></div>
  </ion-content>
</ion-modal-view>
