<ion-modal-view>
    <ion-header-bar class="bar-stable nav-bar-block nav-title-slide-ios7">
        <h1 class="title">带头像列表</h1>
        <div class="buttons">
            <button class="button button-clear icon ion-ios-close-empty" ng-click="closeModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list mt5">

            <a class="item item-avatar" href="#">
                <img src="img/UserCard03.png" />
                <h2>小明</h2>
                <p>个人说明</p>
            </a>

            <a class="item item-avatar" href="#">
                <img src="img/UserCard01.png" />
                <h2>小红</h2>
                <p>个人说明</p>
            </a>

            <a class="item item-avatar" href="#">
                <img src="img/UserCard03.png" />
                <h2>大熊</h2>
                <p>个人说明</p>
            </a>

            <a class="item item-avatar" href="#">
                <img src="img/UserCard03.png" />
                <h2>小刘</h2>
                <p>个人说明</p>
            </a>

            <a class="item item-avatar" href="#">
                <img src="img/UserCard03.png" />
                <h2>小陈</h2>
                <p>个人说明</p>
            </a>

            <a class="item item-avatar" href="#">
                <img src="img/UserCard03.png" />
                <h2>小俊</h2>
                <p>个人说明</p>
            </a>

            <a class="item item-avatar" href="#">
                <img src="img/UserCard02.png" />
                <h2>oldlee</h2>
                <p>个人说明</p>
            </a>

        </div>
    </ion-content>
</ion-modal-view>
