<ion-modal-view>
    <ion-header-bar class="bar-stable nav-bar-block nav-title-slide-ios7">
        <h1 class="title">带按钮列表</h1>
        <div class="buttons">
            <button class="button button-clear icon ion-ios-close-empty" ng-click="closeModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list mt5">
            <div class="item item-button-right">
                电话
                <button class="button button-positive">
                    <i class="icon ion-ios-telephone"></i>
                </button>
            </div>
            <div class="item item-button-right">
                电话
                <button class="button button-calm">
                    <i class="icon ion-ios-telephone"></i>
                </button>
            </div>
            <div class="item item-button-right">
                电话
                <button class="button button-balanced">
                    <i class="icon ion-ios-telephone"></i>
                </button>
            </div>
            <div class="item item-button-right">
                电话
                <button class="button button-energized">
                    <i class="icon ion-ios-telephone"></i>
                </button>
            </div>
            <div class="item item-button-right">
                电话
                <button class="button button-assertive">
                    <i class="icon ion-ios-telephone"></i>
                </button>
            </div>
            <div class="item item-button-right">
                电话
                <button class="button button-royal">
                    <i class="icon ion-ios-telephone"></i>
                </button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
