<ion-modal-view>
    <ion-header-bar class="bar-stable nav-bar-block nav-title-slide-ios7">
        <h1 class="title">扩展列表</h1>
        <div class="buttons">
            <button class="button button-clear icon ion-ios-close-empty" ng-click="closeModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list  list-inset lr-list-type3 mt5">
            <div class="item item-icon-left">
                <i class="icon ion-ionic positive-bg"></i>
                <span>客户信息</span>
            </div>
            <div class="item item-icon-left mt10">
                <i class="icon ion-clipboard energized-bg"></i>
                <span>订单信息</span>
            </div>
        </div>
        <div class="list list-inset lr-list-type2">
            <ion-item class="item-complex">
              <div class="item-content">
                <div class="row">
                  <span class="lr-title">北京信息科技有限公司(北京信息科技有限公司)</span>
                </div>
                <div class="row">
                    <div class="col-33"><span class="lr-label positive-bg">合同签订</span></div>
                    <div class="col-33 lr-item-content"><i class="icon ion-ios-person positive"></i><span class="stable">销售人员</span><p>小陈</p></div>
                    <div class="col-33 lr-item-content"><i class="icon ion-ios-list-outline royal"></i><span>预计金额</span><p>60000元</p></div>
                </div>
              </div>
            </ion-item>
            <ion-item class="item-complex mt10">
              <div class="item-content">
                <div class="row"><span class="lr-title">北京信息科技有限公司(北京信息科技有限公司)</span></div>
                <div class="row">
                    <div class="col-33"><span class="lr-label balanced-bg">合同签订</span></div>
                    <div class="col-33 lr-item-content"><i class="icon ion-ios-person positive"></i><span class="stable">销售人员</span><p>小陈</p></div>
                    <div class="col-33 lr-item-content"><i class="icon ion-ios-list-outline royal"></i><span>预计金额</span><p>60000元</p></div>
                </div>
                </div>
            </ion-item>
            <ion-item class="item-complex mt10">
              <div class="item-content">
                <div class="row"><span class="lr-title">北京信息科技有限公司(北京信息科技有限公司)</span></div>
                <div class="row">
                    <div class="col-33"><span class="lr-label royal-bg">合同签订</span></div>
                    <div class="col-33 lr-item-content"><i class="icon ion-ios-person positive"></i><span class="stable">销售人员</span><p>小陈</p></div>
                    <div class="col-33 lr-item-content"><i class="icon ion-ios-list-outline royal"></i><span>预计金额</span><p>60000元</p></div>
                </div>
                </div>
            </ion-item>
        </div>
</ion-content>
</ion-modal-view>
