<ion-modal-view>
    <ion-header-bar class="bar-stable nav-bar-block nav-title-slide-ios7">
        <h1 class="title">缩略图列表</h1>
        <div class="buttons">
            <button class="button button-clear icon ion-ios-close-empty" ng-click="closeModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list mt5">
            <a class="item item-thumbnail-left" href="#">
                <img src="img/1.jpg" />
                <h2>one</h2>
                <p>图片说明</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
                <img src="img/2.jpg" />
                <h2>two</h2>
                <p>图片说明</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
                <img src="img/3.jpg" />
                <h2>three</h2>
                <p>图片说明</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
                <img src="img/4.jpg" />
                <h2>Four</h2>
                <p>图片说明</p>
            </a>
        </div>
    </ion-content>
</ion-modal-view>
