<ion-modal-view>
    <ion-header-bar class="bar-stable nav-bar-block nav-title-slide-ios7">
        <h1 class="title">内嵌列表</h1>
        <div class="buttons">
            <button class="button button-clear icon ion-ios-close-empty" ng-click="closeModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list list-inset mt5">
            <div class="item">
                第一列
            </div>
            <div class="item">
                第二列
            </div>
            <div class="item">
                第三列
            </div>
            <div class="item">
                第四列
            </div>
        </div>
    </ion-content>
</ion-modal-view>
