<ion-modal-view>
    <ion-header-bar class="bar-stable nav-bar-block nav-title-slide-ios7">
        <h1 class="title">带分隔符列表</h1>
        <div class="buttons">
            <button class="button button-clear icon ion-ios-close-empty" ng-click="closeModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list mt5">
            <div class="item item-divider">
                第一项
            </div>
            <a class="item" >第一列</a>
            <a class="item" >第二列</a>
            <a class="item" >第三列</a>
            <a class="item" >第四列</a>
            <div class="item item-divider">
                第二项
            </div>
            <a class="item" >第一列</a>
            <a class="item" >第二列</a>
            <a class="item" >第三列</a>
            <a class="item" >第四列</a>
        </div>
    </ion-content>
</ion-modal-view>
