<ion-tabs class="tabs-icon-top tabs-background-stable tabs-color-dark" >
<ion-tab title="首页" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/tab/DefaultPage">
<ion-nav-view name="tab-c41a466e-081f-bb00-06cc-d461a7e88e9f"></ion-nav-view></ion-tab>
<ion-tab title="实例" icon-on="ion-ios-book" icon-off="ion-ios-book-outline" href="#/tab/DefaultPage">
<ion-nav-view name="tab-30aeaae5-4d2b-2591-c249-d3a5b6e80ee2"></ion-nav-view></ion-tab>
<ion-tab title="通知" icon-on="ion-ios-bell" icon-off="ion-ios-bell-outline" href="#/tab/DefaultPage">
<ion-nav-view name="tab-68cd61b9-d1da-6c3e-4799-eabe8130f296"></ion-nav-view></ion-tab>
<ion-tab title="我的" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" href="#/tab/DefaultPage">
<ion-nav-view name="tab-77fbf778-d054-a2fd-7a2b-6eeff6174dca"></ion-nav-view></ion-tab>

</ion-tabs>

