<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- ================== 2：这里主要是服务器端配置项内容部分 ================== -->
  <!-- 是否启动操作日志-->
  <add key="IsLog" value="true" />
  <!-- ================== 3：这里主要是微信配置项内容部分 ================== -->
  <!--企业号CorpId -->
  <add key="CorpId" value="wxa2c39f6194f44ff4" />
  <!--企业号管理组凭证密钥 -->
  <add key="CorpSecret" value="eDo9pEOXWqSgWtQ-_1NF_NTmGDTlZ3UFFdF3To-L2zxgxSAieAnNY7J6L_Cgyyuq" />
  <!-- ================== 4：访问过滤配置 ================== -->
  <!--设置IP过滤 -->
  <add key="FilterIP" value="false" />
  <!--设置时段过滤 -->
  <add key="FilterTime" value="false" />
</appSettings>