<ion-modal-view>
  <ion-header-bar class="bar-stable  nav-bar-block nav-title-slide-ios7">
    <button class="button button-clear" ng-click="closePageModel()"><i class="icon ion-ios-arrow-left"></i></button>
    <h1 class="title">反馈问题</h1>
    <button class="button button-clear" >提交</button>
  </ion-header-bar>
    <ion-content>
        <div class="list list-inset lr-list-radius">
            <label class="item item-input">
                <textarea rows="7" placeholder="您可以将使用中遇到的问题，或对功能的需求反馈给我们。有您的帮助，才能使我们做的更好！"></textarea>
            </label>
            <label class="item item-input mt20">
                <input type="text" placeholder="邮箱">
            </label>
            <label class="item item-input mt20">
                <input type="text" placeholder="手机">
            </label>
        </div>
    </ion-content>
</ion-modal-view >
