<ion-modal-view>
    <ion-header-bar class="bar-stable  nav-bar-block nav-title-slide-ios7">
      <button class="button button-clear" ng-click="closePageModel()"><i class="icon ion-ios-arrow-left"></i></button>
      <h1 class="title">修改密码</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list mt20">
            <label class="item item-input ">
                <input type="password" placeholder="原密码">
            </label>
            <label class="item item-input ">
                <input type="password" placeholder="新密码">
            </label>
            <label class="item item-input ">
                <input type="password" placeholder="确认新密码">
            </label>

            <label class="item mt20 lr-listbutton">
                <span>保存</span>
            </label>
        </div>
    </ion-content>
</ion-modal-view >
