@{;
ViewBag.Title = "列表页面";
Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    ;
    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 136.5);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 136.5,
            url: "../../DemoManage/OfficeRk/GetPageListJson",
            datatype: "json",
            colModel: [
                { label: '订单主键', name: 'OrderId', index: 'OrderId', width: 80, align: '', sortable: true, hidden: true },
                { label: '客户id', name: 'GysId', index: 'GysId', width: 100, align: '', sortable: true },
                { label: '客户名称', name: 'GysName', index: 'GysName', width: 120, align: '', sortable: true },
                { label: '销售人员Id', name: 'SellerId', index: 'SellerId', width: 120, align: '', sortable: true },
                { label: '销售人员', name: 'SellerName', index: 'SellerName', width: 80, align: '', sortable: true },
                {
                    label: '单据日期', name: 'RkDate', index: 'RkDate', width: 90, align: '', sortable: true,
                    formatter: "date", formatoptions: { newformat: 'Y-m-d' }
                },
                { label: '单据编号', name: 'RkCode', index: 'RkCode', width: 90, align: '', sortable: true },
                { label: '应收金额', name: 'Accounts', index: 'Accounts', width: 90, align: '', sortable: true },
                { label: '摘要信息', name: 'AbstractInfo', index: 'AbstractInfo', width: 90, align: '', sortable: true },
                { label: '删除标记', name: 'DeleteMark', index: 'DeleteMark', width: 90, align: '', sortable: true, hidden: true },
                { label: '有效标志', name: 'EnabledMark', index: 'EnabledMark', width: 90, align: '', sortable: true, hidden: true },
                {
                    label: '创建日期', name: 'CreateDate', index: 'CreateDate', width: 90, align: '', sortable: true,
                    formatter: "date", formatoptions: { newformat: 'Y-m-d' }
                },
                { label: '创建用户主键', name: 'CreateUserId', index: 'CreateUserId', width: 90, align: '', sortable: true, hidden: true },
                { label: '创建用户', name: 'CreateUserName', index: 'CreateUserName', width: 90, align: '', sortable: true },
                {
                    label: '修改日期', name: 'ModifyDate', index: 'ModifyDate', width: 90, align: '', sortable: true,
                    formatter: "date", formatoptions: { newformat: 'Y-m-d' }
                },
                { label: '修改用户主键', name: 'ModifyUserId', index: 'ModifyUserId', width: 90, align: '', sortable: true, hidden: true },
                { label: '修改用户', name: 'ModifyUserName', index: 'ModifyUserName', width: 90, align: '', sortable: true },
                { label: '备注', name: 'Description', index: 'Description', width: 90, align: '', sortable: true }
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'OrderId',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            },
            subGrid: true,
            subGridRowExpanded: function (subgrid_id, row_id) {
                var keyValue = $gridTable.jqGrid('getRowData', row_id)['OrderId'];
                var subgrid_table_id = subgrid_id + "_t";
                $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "'></table>");
                $("#" + subgrid_table_id).jqGrid({
                    url: "../../DemoManage/OfficeRk/GetDetailsJson",
                    postData: { keyValue: keyValue },
                    datatype: "json",
                    height: "100%",
                    colModel: [
                { label: '订单明细主键', name: 'RkEntryId', index: 'RkEntryId', width: 80, align: '', sortable: true, hidden: true },
                { label: '订单主键', name: 'OrderId', index: 'OrderId', width: 80, align: '', sortable: true, hidden: true },
                { label: '商品Id', name: 'ProductId', index: 'ProductId', width: 80, align: '', sortable: true },
                { label: '商品编号', name: 'ProductCode', index: 'ProductCode', width: 80, align: '', sortable: true },
                { label: '商品名称', name: 'ProductName', index: 'ProductName', width: 80, align: '', sortable: true },
                { label: '单位', name: 'UnitId', index: 'UnitId', width: 80, align: '', sortable: true },
                { label: '数量', name: 'Qty', index: 'Qty', width: 80, align: '', sortable: true },
                { label: '单价', name: 'Price', index: 'Price', width: 80, align: '', sortable: true },
                { label: '金额', name: 'Amount', index: 'Amount', width: 80, align: '', sortable: true },
                { label: '排序码', name: 'SortCode', index: 'SortCode', width: 80, align: '', sortable: true, hidden: true },
                { label: '删除标记', name: 'DeleteMark', index: 'DeleteMark', width: 80, align: '', sortable: true, hidden: true },
                { label: '有效标志', name: 'EnabledMark', index: 'EnabledMark', width: 80, align: '', sortable: true, hidden: true },
                { label: '备注', name: 'Description', index: 'Description', width: 80, align: '', sortable: true },
                    ],
                    caption: "明细",
                    rowNum: "1000",
                    rownumbers: true,
                    shrinkToFit: false,
                    gridview: true,
                    hidegrid: false
                });
            }
        });
        //查询条件
        $("#queryCondition .dropdown-menu li").click(function () {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            $("#queryCondition .dropdown-text").html(text).attr('data-value', value)
        });
        //查询事件
        $("#btn_Search").click(function () {
            var queryJson = {
                condition: $("#queryCondition").find('.dropdown-text').attr('data-value'),
                keyword: $("#txt_Keyword").val()
            }
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) },
                page: 1
            }).trigger('reloadGrid');
        });
        //查询回车
        $('#txt_Keyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#btn_Search').trigger("click");
            }
        });
    }
    //新增
    function btn_add() {
        dialogOpen({
            id: 'Form',
            title: '添加订单',
            url: '/DemoManage/OfficeRk/OfficeRkForm',
            width: '1000px',
            height: '750px',
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }
    //编辑
    function btn_edit() {
        var keyValue = $('#gridTable').jqGridRowValue('OrderId');
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Form',
                title: '编辑订单',
                url: '/DemoManage/OfficeRk/OfficeRkForm?keyValue=' + keyValue,
                width: '1000px',
                height: '750px',
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //删除
    function btn_delete() {
        var keyValue = $('#gridTable').jqGridRowValue('OrderId');
        if (keyValue) {
            $.RemoveForm({
                url: '../../DemoManage/OfficeRk/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的OfficeRk！', 0);
        }
    }
    //详细
    function btn_details() {
        var keyValue = $('#gridTable').jqGridRowValue('OrderId');
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Form',
                title: '详细OfficeRk',
                url: '/DemoManage/OfficeRk/OfficeRkForm?keyValue=' + keyValue + '&isDeltail=true',
                width: '1000px',
                height: '750px',
                btn: null,
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
</script>
<div class="titlePanel">
    <div class="title-search">
        <table>
            <tr>
                <td>
                    <div id="queryCondition" class="btn-group">
                        <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择条件</a>
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a data-value="GysName">供应商名称</a></li>
                            <li><a data-value="SellerName">销售人员</a></li>
                        </ul>
                    </div>
                </td>
                <td>
                    <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                </td>
                <td style="padding-left: 5px;">
                    <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i> 查询</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="toolbar">
        <div class="btn-group">
            <a id="lr-replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
            <a id="lr-add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>新增</a>
            <a id="lr-edit" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>编辑</a>
            <a id="lr-delete" class="btn btn-default" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除</a>
            <a id="lr-details" class="btn btn-default" onclick="btn_details()"><i class="fa fa-list-alt"></i>详细</a>
        </div>
    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>