@{
    ViewBag.Title = "查看流程进度";
    Layout = "~/Views/Shared/_FlowForm.cshtml";
}
<script>
    var processSchemeId = request('processSchemeId');
    var ActivityId = request('activityId');
    $(function () {
        var schemeContent;
        $.SetForm({
            url: "../../FlowManage/FlowProcess/GetProcessSchemeJson",
            param: { keyValue: processSchemeId },
            success: function (data) {
                schemeContent = JSON.parse(JSON.parse(data.processScheme.SchemeContent).SchemeContent);
                $('#FlowPanel').flowdesign({
                    width: $(window).width()+3,
                    height: $(window).height(),
                    flowcontent: schemeContent.Flow,
                    haveTool: false,
                    isprocessing: true,
                    activityId: ActivityId,
                    nodeData: schemeContent.Flow.nodes
                });
            }
        });
    });
</script>
<div id="FlowPanel" class="tab-pane active">
</div>
<style>
    body {
        overflow: hidden;
    }
</style>
