<ion-view hide-nav-bar="false" view-title="公司首页">
<ion-content padding="true" style="background-color:#ffffff;">
<H1 style="color:#000000; text-align:left;">公司动态</H1><label class="item item-input"><input type="text" placeholder="输入框"></label><button style="color:#ffffff;font-size:16px;text-align:center;font-weight:500;" class="button button-defaultbutton-standardbutton-positive">提交</button><div class="list lr-list-type3"><ion-item class="item item-icon-left"><i class="icon ion-ios-barcode-outline royal" ></i> <span>列表类型一</span></ion-item></div><div class="list lr-list-type3"><ion-item class="item item-icon-left"><i class="icon ion-ios-paper-outline b" ></i> <span>列表类型一</span></ion-item></div><p style="color:#000000;font-size:14px;text-align:left;">段落</p></ion-content>
</ion-view>

