<ion-header-bar align-title="left" class="bar-stable nav-bar-block">
  <div class="h1 title">即时通讯</div>
  <div class="buttons">
    <button class="button button-clear no-animation button-icon icon ion-android-search">
    </button>
    <button class="button button-clear no-animation button-icon icon ion-android-add">
    </button>
  </div>
</ion-header-bar>
<ion-view>
  <ion-content on-swipe-right="onSwipeRight()">
    <ion-list>
      <ion-item class="lr-contacts-item">
        <div class="lr-contacts-index-bar">A</div>
        <ion-list class="lr-list">
          <ion-item class="lr-item">
            <div class="lr-contacts-pic">
              <img src="img/adam.jpg">
            </div>
            <h2>李明</h2>
          </ion-item>
          <ion-item class="lr-item">
            <div class="lr-contacts-pic">
              <img src="img/adam.jpg">
            </div>
            <h2>李明</h2>
          </ion-item>
          <ion-item class="lr-item">
            <div class="lr-contacts-pic">
              <img src="img/adam.jpg">
            </div>
            <h2>李明</h2>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
