@{;
  ViewBag.Title = "表单页面";
  Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = request('keyValue');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        //商机类别
        $("#ChanceTypeId").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "Client_ChanceSort" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px"
        });
        //商机来源      
        $("#SourceId").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "Client_ChanceSource" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px"
        });
        //商机阶段
        $("#StageId").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "Client_ChancePhase" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px"
        });
        //跟进人员
        $("#TraceUserId").ComboBoxTree({
            url: "../../BaseManage/User/GetTreeJson",
            description: "==请选择==",
            height: "200px",
            allowSearch: true
        });
        //公司行业
        $("#CompanyNatureId").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "Client_Trade" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px"
        });
        //所在省份
        $("#Province").ComboBox({
            url: "../../SystemManage/Area/GetAreaListJson",
            param: { parentId: "0" },
            id: "AreaCode",
            text: "AreaName",
            description: "==选择省==",
            height: "170px"
        }).bind("change", function () {
            var value = $(this).attr('data-value');
            $("#City").ComboBox({
                url: "../../SystemManage/Area/GetAreaListJson",
                param: { parentId: value },
                id: "AreaCode",
                text: "AreaName",
                description: "==选择市==",
                height: "170px"
            });
        });
        //所在城市
        $("#City").ComboBox({
            description: "==选择市==",
            height: "170px"
        });
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../CustomerManage/Chance/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").SetWebControls(data);
                    $("#Province").trigger("change"); $("#City").ComboBoxSetValue(data.City)
                }
            })
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").GetWebControls(keyValue);
        postData["TraceUserName"] = $("#TraceUserId").attr('data-text');
        $.SaveForm({
            url: "../../CustomerManage/Chance/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin-top: 20px; margin-right: 20px;">
    <table class="form">
        <tr>
            <td class="formTitle">商机编号<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="EnCode" type="text" class="form-control" value="@ViewBag.EnCode" isvalid="yes" checkexpession="NotNull" />
            </td>
            <td class="formTitle">商机名称<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="FullName" type="text" onblur="$.ExistField(this.id,'../../CustomerManage/Chance/ExistFullName')" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">预计金额<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="Amount" type="text" class="form-control" value="0.00" isvalid="yes" checkexpession="Double" />
            </td>
            <td class="formTitle">预计利润<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="Profit" type="text" class="form-control" value="0.00" isvalid="yes" checkexpession="Double" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">预计成交</td>
            <td class="formValue">
                <input id="DealDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
            </td>
            <td class="formTitle">销售费用</td>
            <td class="formValue">
                <input id="SaleCost" type="text" class="form-control" isvalid="yes" checkexpession="DoubleOrNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">商机类别</td>
            <td class="formValue">
                <div id="ChanceTypeId" type="select" class="ui-select"></div>
            </td>
            <td class="formTitle">商机来源<font face="宋体">*</font></td>
            <td class="formValue">
                <div id="SourceId" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">商机阶段<font face="宋体">*</font></td>
            <td class="formValue">
                <div id="StageId" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
            <td class="formTitle">成功率%<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="SuccessRate" type="text" class="form-control" isvalid="yes" checkexpession="Double" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">公司名称<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="CompanyName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
            <td class="formTitle">跟进人员<font face="宋体">*</font></td>
            <td class="formValue">
                <div id="TraceUserId" type="selectTree" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">公司行业</td>
            <td class="formValue">
                <div id="CompanyNatureId" type="select" class="ui-select"></div>
            </td>

            <td class="formTitle">公司网站</td>
            <td class="formValue">
                <input id="CompanySite" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">公司情况</td>
            <td class="formValue" colspan="3">
                <input id="CompanyDesc" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">公司地址</td>
            <td class="formValue" colspan="3">
                <input id="CompanyAddress" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">所在省份</td>
            <td class="formValue">
                <div id="Province" type="select" class="ui-select"></div>
            </td>
            <td class="formTitle">所在城市</td>
            <td class="formValue">
                <div id="City" type="select" class="ui-select"></div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">联系人<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="Contacts" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
            <td class="formTitle">手机</td>
            <td class="formValue">
                <input id="Mobile" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">电话</td>
            <td class="formValue">
                <input id="Tel" type="text" class="form-control" />
            </td>
            <td class="formTitle">传真</td>
            <td class="formValue">
                <input id="Fax" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">QQ</td>
            <td class="formValue">
                <input id="QQ" type="text" class="form-control" />
            </td>
            <td class="formTitle">Email</td>
            <td class="formValue">
                <input id="Email" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">微信</td>
            <td class="formValue">
                <input id="Wechat" type="text" class="form-control" />
            </td>
            <td class="formTitle">爱好</td>
            <td class="formValue">
                <input id="Hobby" type="text" class="form-control" />
            </td>
        </tr>
        <tr>

            <td class="formTitle">备注</td>
            <td class="formValue" colspan="3">
                <input id="Description" type="text" class="form-control" />
            </td>
        </tr>

    </table>
</div>
