<ion-modal-view>
  <ion-header-bar class="bar-stable nav-bar-block nav-title-slide-ios7">
    <button class="button button-clear" ng-click="closeNoticesModal()"><i class="icon ion-ios-arrow-left"></i></button>
    <h1 class="title">LR-FDMS 框架</h1>
  </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item lr-item">
                <div class="row">
                    <div class="col-20 balanced">李先生</div>
                    <div class="col-66">5月4日</div>
                </div>
            </ion-item>
            <ion-item class="item lr-item">
                <div class="row">
                    <div class="col-20"><b>标题</b></div>
                    <div class="col-33">LR-FDMS 框架</div>
                </div>
            </ion-item>
            <ion-item class="item lr-item">
                <div class="row">
                    <div class="col-33"><b>内容</b></div>
                </div>
                <div class="row lr-item-row">
                    <div class="col-90">亲爱的同学们：</div>
                </div>
                <div class="row lr-item-row">
                    <div >
                        <p style="text-indent: 1.9em; word-break: break-all;">
                                信息化系统快速开发框架是一套集权限管理+快速开发+动<br>
                            态接口+通用组件+动态UI于一体的全新.net信息化快速开发框架。<br>
                            信息化系统快速开发框架的使用，大大地缩短了开发周期，提<br>
                            高了软件质量，同时也降低企业对软件研发人员编码水平要求。使<br>
                            得软件企业减少研发的时间和成本以及提升用户体验，从而能在竞<br>
                            争激烈的软件行业里脱颖而出，打造出优秀的软件产品，赢得客户<br>
                            的信赖。同样软件工程师有一套这样的开发神器在手，开发软件效<br>
                            率卓越，界面炫酷，定能赢得上司的赏识，升职加薪不在话下，迎<br>
                            娶白富美登上人生的巅峰也指日可待。
                        </p>
                    </div>
                </div>
                <div class="row lr-item-row">
                    <div class="col-99">
                        <p style=" text-indent: 1em; ">
                            1、界面炫酷，用户体验好，3种界面风格16套皮肤一键切换、<br />用户
                        </p>
                        <p style=" text-indent: 1em; ">
                            2、远离加班！一套能节约80%开发时间的快速开发框架！<br />
                        </p>
                        <p style=" text-indent: 1em; ">
                            3、动态接口、动态表单、动态视图、动态Excel导入模板，都<br />
                            可以动态配置，小声点再动态老板就会自己干，你要失业了！体<br />
                            验会让你爱不释手
                        </p>

                    </div>
                </div>
            </ion-item>
            <ion-item class="item lr-item" >
                <div class="row">
                    <div class="col-20">通知人</div>
                    <div class="col-60">
                        <i class="icon ion-person "></i>小王
                        <i class="icon ion-person "></i>小李
                        <i class="icon ion-person "></i>小丽
                        <i class="icon ion-person "></i>小成
                        <i class="icon ion-person "></i>老李
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>
